AUTH_FLOW=authcode
APP_HOST_URL=http://example.host.com:3000
TENANT_FQDN=example.tenant.identity.app
ISSUER_URL=https://example.tenant.identity.app/TestOIDCClient/
CLIENT_ID=7f9e43f6-8820-458d-92c6-83ce338ca208
CLIENT_SECRET=mysecret
POST_AUTHORIZE_CALLBACK=/postauthorize
POST_LOGOUT_CALLBACK=/logout/callback
RESOURCE_URL=/resourceUrl