/*For NG login*/
.container .idaptive-login.custom-background.web-login .login-container {
    height: 80%;
    margin-top: 100px;
}

.container .idaptive-login.custom-background.web-login .logo-wrapper {
    margin-top: 10px;
}

.container .idaptive-login.custom-background.web-login .footer.custom 
{
    visibility:hidden;
}

/*For standard login view*/

.container .idaptive-login.standalone-login.legacy-mobile-login {
    height: 90%;
    margin-top: 50px;
    margin-left:500px;
    background-color: '#f4eee8';
    width:400px;
}

.container .idaptive-login.standalone-login.legacy-mobile-login .logo-container {
    background-color: gray	;
    border-style: inset;
    border-style: solid;
}

.container .idaptive-login.standalone-login.legacy-mobile-login .form-container {
    background-color: '#f4eee8';
    border-style: solid;
    height:300px;
}

.container .idaptive-login.standalone-login.legacy-mobile-login  .form-container .form-wrapper {
    /*background-color: white;*/
}

.standalone-login .login-form {
	background-color: brown;
}

/*.container .idaptive-login.standalone-login.legacy-mobile-login #usernameForm{
    background-color: white;
    color: black;
}

.container .idaptive-login.standalone-login.legacy-mobile-login #passwordForm{
    background-color: lightblue;
    color: black;
}*/

.container .idaptive-login.standalone-login.legacy-mobile-login #usernameForm .form-row .terms{
    visibility: hidden;
}

.container .idaptive-login.standalone-login.legacy-mobile-login #passwordForm .footer.form-row {
    visibility: hidden;
}

.container .idaptive-login.standalone-login.legacy-mobile-login #usernameForm .footer.form-row{
    visibility: hidden;
}

/*selecting using the idaptive-login selector as provided as inputs to login widget*/
/*.idaptive-login button {
	background-color: #d71921;
	font-size: 16px;
	border-radius: 60px;
	background-color: #eb0a1e !important;
	color: #fff;
	text-decoration: none;
	border-color: #eb0a1e;
	min-width: 120px;
	max-width: 400px;
}*/
